<div class="panel" id="<%= note.persisted? ? dom_id(note) : "note-new" %>">
    <p>
      <%= note.comment %>
    </p>
    <p>
      Posted by <%= note.user.name %>
      <% unless note.problem.resolved %>
          <% if current_user == note.problem.user && current_user != note.user %>
              | <%= link_to 'Mark as resolution <i class="fa fa-check-square"></i>'.html_safe, choose_note_path(note) %>
          <% end %>
      <% else %>
          <% if note.chosen %>
              | <strong>Resolved Problem</strong>
          <% end %>
      <% end %>
    </p>
</div>
