<%= link_to 'New Problem?', new_problem_path %>
<br>

<h1>Listing Problems</h1>

<div class="large-8 columns">
<table>
<tbody>
  <h3>I Need Help!</h3>
  <% @problems.order(created_at: :asc).each do |problem| %>
    <tr>
      <td>
      <p><%= problem.issue %></p>
      <p><%= problem.try %></p>
      <p><%= link_to 'Make a Note', problem %></p>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
