<div class="row">
  <div class="small-10 small-offset-1 columns">

	<% if !logged_in? %>
		<p>To add your own problem, please <%= link_to 'login', new_login_path %>.</p>
    <% else %>
        <fieldset>
          <legend>Submit Problem:</legend>
          <%= render 'form', :problem => @problem %>
        </fieldset>
	<% end %>

    <h3>Open Problems</h3>

    <div id="problems">
      <%= render @problems %>
    </div>

  </div>
</div>